.PostCreator {
    padding: 1rem;

    .startPost {
        margin: 0;
        background: transparent;
        padding: 14px 2rem;
        border: 1.5px solid var(--border);
        border-radius: 100rem;
        text-align: left;
        display: flex;
        align-items: center;

        span {
            vertical-align: middle;
            margin-right: 1rem;
        }
    }

    .flex {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;

        .upload {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--component);
            padding: 0.8rem 2rem;
            width: fit-content;
            border-radius: 100rem;
            font-weight: 500;
            cursor: pointer;

            p {
                margin: 0;
                display: inline;
            }
            span {
                margin-right: 1rem;
            }
        }

        .send {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            background: var(--link);
            font-size: 2rem;
            width: 3rem;
            height: 3rem;
            border-radius: 100rem;
            font-weight: 500;
            cursor: pointer;
        }

        @media (max-width: 500px) {
            .upload {
                span {
                    margin-right: 0;
                }

                p {
                    display: none;
                }
            }
        }
    }

    .inputContainer {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        span {
            font-weight: 300;
            vertical-align: middle;
            font-size: 2rem;
            margin: 0 1rem 0 0 !important;
        }

        input {
            border: 1px solid var(--border);
            background: transparent;
            border-radius: 10px;
            padding: 0.6rem 1rem 0.6rem 1rem;
            width: 100%;
            color: white;
            font-size: 1rem;
            font-weight: 500;
            font-family: inherit;
            outline: none;
        }
    }

    fieldset {
        border: 2px solid var(--border);
        padding: 1rem;
        margin: 0 0 1rem 0;
        border-radius: 10px;

        legend {
            font-weight: 500;
            color: var(--subtitle);
        }

        textarea {
            border-radius: 0;
            border: 0;
            background: transparent;
            padding: 0;
            width: 100%;
            color: white;
            font-size: 1rem;
            font-family: inherit;
            outline: none;
            min-height: 10rem;
            max-height: 50rem;
            height: 10rem;
            resize: vertical;
        }
    }
}
