.Nav {
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    color: var(--subtitle);
    padding: 1rem 5rem;
    width: 100%;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: var(--transition);

    img {
        width: 200px;
    }

    @media (max-width: 1200px) {
        & {
            padding: 1rem 2rem;
        }
    }
    @media (max-width: 425px) {
        & {
            padding: 1rem 1rem;
        }
    }
}
