.Dashboard {
    background: var(--background);
    color: white;
    padding: 110px 1rem 10rem 110px;
    min-height: 100vh;
    height: fit-content;

    .category {
        color: var(--subtitle);
        border-bottom: 1px solid var(--border);
        padding-bottom: 8px;
    }

    .overlay {
        width: calc(100% - var(--sidebar-width));
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        left: var(--sidebar-width);
        transition: var(--transition);
        text-align: center;
        padding: 5rem 1rem 10rem 1rem;
        background: rgba(22, 22, 22, 0.9);
        backdrop-filter: blur(3rem);
        -webkit-backdrop-filter: blur(3rem);
        overflow-y: scroll;
        transform: translateX(100%);
        opacity: 0;
    }

    @media (max-width: 1168px) {
        & {
            padding: 5rem 1rem 10rem 1rem;
        }

        .overlay {
            width: 100%;
            left: 0;

            img {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .dashboardContent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    @media (min-width: 1800px) {
        .dashboardContent {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
    }

    @media (max-width: 800px) {
        .dashboardContent {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: 600px) {
        .dashboardContent {
            grid-template-columns: 1fr;
        }
    }

    button {
        padding: 1rem 3rem 1rem 3rem;
        font-size: 1.1rem;
        color: white;
        font-family: inherit;
        background: var(--link);
        border-radius: 10px;
        width: 100%;
        margin-top: 2rem;
        font-weight: 500;
        border: none;
        outline: none;
        cursor: pointer;
        transition: var(--transition);
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            margin-right: 1rem;
            font-size: 1.5rem;
        }
    }
}
