.ProfileLoading {
    animation: pulse 0.75s infinite;

    @keyframes pulse {
        0% {
            filter: brightness(0.5);
        }
        50% {
            filter: brightness(1);
        }
        100% {
            filter: brightness(0.5);
        }
    }
}

.Profile {
    min-height: 10rem;
    background: var(--component);
    border-radius: 1rem;
    padding: 0;
    font-weight: bold;
    border: 1px solid var(--component);
    word-wrap: break-word;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

    .icon {
        transition: var(--transition);
        width: 100%;
        height: auto;
        aspect-ratio: 1.2/1;
        filter: brightness(0.9);
        border-radius: 1rem 1rem 0 0;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .information {
        padding: 9px 12px;
        width: 100%;
        overflow: hidden;

        .name {
            font-weight: 600;
            font-size: 1.5rem;
            margin: 0 0 -6px 0;
            width: fit-content;
        }

        .company {
            text-align: left;
            margin: 10px 0 0 0;
            color: #ccc;
            font-size: 0.9rem;
            font-weight: 500;
        }

        .description {
            text-align: left;
            margin: 10px 0 0 0;
            color: #ccc;
            font-size: 0.9rem;
            font-weight: 500;
        }

        .details {
            display: flex;
            font-weight: 500;
            font-size: 0.9rem;
            align-items: center;
            color: var(--subtitle);
        }
    }

    &:hover {
        .information .name {
            color: var(--link);
            text-decoration: underline;
            text-underline-offset: 3px;
        }
    }

    .modifiers {
        .hiring {
            border-radius: 0;
            padding: 0.2rem 1rem;
            font-size: 0.9rem;
            color: black;
            text-align: center;
            font-weight: 600;
            background: rgb(43, 255, 0);
        }

        .ribbon {
            position: absolute;
            right: 5px;
            top: 5px;
            z-index: 1;
            overflow: hidden;
            width: 75px;
            height: 75px;
            text-align: right;
            scale: 1.3;

            span {
                font-size: 10px;
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                line-height: 20px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                width: 100px;
                display: block;
                background: #79a70a;
                background: linear-gradient(#ff1e53 0%, #ff1e53 100%);
                box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
                position: absolute;
                top: 19px;
                right: -21px;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0px;
                    top: 100%;
                    z-index: -1;
                    border-left: 3px solid #ff1e53;
                    border-right: 3px solid transparent;
                    border-bottom: 3px solid transparent;
                    border-top: 3px solid #ff1e53;
                }

                &::after {
                    content: "";
                    position: absolute;
                    right: 0px;
                    top: 100%;
                    z-index: -1;
                    border-left: 3px solid transparent;
                    border-right: 3px solid #ff1e53;
                    border-bottom: 3px solid transparent;
                    border-top: 3px solid #ff1e53;
                }
            }
        }
    }
}
