.Profile {
    min-height: 10rem;
    background: var(--component);
    border-radius: 1rem;
    padding: 0;
    font-weight: bold;
    border: 1px solid var(--component);
    word-wrap: break-word;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;

    .icon {
        transition: var(--transition);
        width: 100%;
        height: auto;
        aspect-ratio: 1.2/1;
        filter: brightness(0.9);
        border-radius: 1rem 1rem 0 0;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .name {
        font-weight: 600;
        font-size: 1.5rem;
        margin: 0 0 -6px 0;
        width: fit-content;
        border-bottom: 2px solid transparent;
        transition: 0.1s;
    }

    .description {
        text-align: left;
        margin: 10px 0 0 0;
        color: #ccc;
        font-size: 0.9rem;
        font-weight: 500;
    }

    .company {
        text-align: left;
        margin: 10px 0 0 0;
        color: #ccc;
        font-size: 0.9rem;
        font-weight: 500;
    }

    &:hover {
        .name {
            color: var(--link);
            border-bottom: 2px solid var(--link);
        }
    }

    .hiring {
        color: white;
        font-size: 0.9rem;
        padding: 5px 0;
        width: 100%;
        text-align: center;
        font-weight: 600;
        background: rgb(51, 155, 30);
    }

    .details {
        display: flex;
        font-weight: 500;
        font-size: 0.9rem;
        align-items: center;
        color: var(--subtitle);
    }
}
