.ProfileCreator {
    max-width: 1000px;
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    user-select: none;
    -webkit-user-select: none;

    @media (max-width: 1168px) {
        & {
            top: 0;
            transform: translate(-50%, 0);
            max-width: 500px;
        }
    }

    .steps {
        display: flex;
        justify-content: space-between;
        text-align: left;
        height: 280px;

        .memo {
            width: 50%;
            margin-right: 3rem;

            p {
                line-height: 1.5;
            }

            span {
                font-size: 5rem;
                font-weight: 400;
                color: #ffcc00;
            }
        }

        .stage {
            width: 50%;
            display: none;
            margin: auto 0;
        }

        @media (max-width: 1168px) {
            & {
                margin-top: 4rem;
                flex-direction: column;
                height: fit-content !important;

                .memo {
                    text-align: center;
                    margin-bottom: 2rem;

                    h1 {
                        font-size: 1.5rem;
                    }
                }

                .memo,
                .stage {
                    width: 100%;
                    margin-right: 0;
                    height: fit-content;
                }
            }
        }
    }

    .navigation {
        width: 50%;
        padding-right: 3rem;

        .container {
            display: flex;
            gap: 10px;

            button {
                background: var(--component);
                font-size: 1.2rem;
                font-weight: 500;
                padding: 9px 2rem;
                font-size: 1rem;
                transition: var(--transition);

                &:hover {
                    background: var(--shade-2);
                }

                span {
                    margin: 0 0 0 5px;
                }
            }
        }

        @media (max-width: 1168px) {
            & {
                width: 100%;
                padding: 0;
            }
        }

        .progress {
            width: 100%;
            height: 5px;
            border-radius: 100rem;
            background: var(--component);
            position: relative;
            margin-top: 1rem;

            div {
                height: 100%;
                background: var(--link);
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                border-radius: 100rem;
                transition: var(--transition);
            }
        }
    }

    .flex {
        display: flex;
        align-items: center;

        span {
            color: var(--subtitle);
            margin-right: 1rem;
            font-size: 2rem;
            font-weight: 300 !important;
        }
    }

    .label {
        margin-top: 2rem;
        color: var(--subtitle);
    }

    .labelWarning {
        background: #99601030;
        padding: 1rem;
        border-radius: 10px;
        margin-top: 1rem;
        color: white;
        display: flex;
        align-items: center;

        p {
            margin: 0;
        }

        span {
            margin-right: 1rem;
        }
    }

    input {
        background: transparent;
        border: none;
        border-bottom: 1px solid var(--component);
        padding: 0.6rem 1rem 0.6rem 1rem;
        border-radius: 4px;
        width: 100%;
        color: white;
        margin-bottom: 0.5rem;
        font-size: 1.1rem;
        font-weight: 500;
        font-family: inherit;
        outline: none;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .galleryContainer {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: fit-content;
        max-width: 100%;
        overflow-x: scroll;
    }
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: inline-block;
    position: relative;
    padding-left: 40px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--subtitle);
    font-weight: 500;
    transition: var(--transition);
}

input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid var(--component);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--transition);
}

input[type="radio"]:checked + label:before {
    background: var(--link);
}

input[type="radio"]:checked + label {
    color: var(--link);
}
