.ManagePreview {
    background: var(--component);
    border-radius: 1rem;
    padding: 10px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    border: 1px solid var(--shade-2);
    cursor: pointer;
    overflow: hidden;

    img {
        margin-right: 1rem;
        width: 6rem !important;
        height: 6rem !important;
        border-radius: 1rem;
        object-fit: cover;
        aspect-ratio: 1/1;

        @media (max-width: 768px) {
            width: 4rem !important;
            height: 4rem !important;
        }
    }

    &:hover {
        div {
            h2 {
                text-decoration: underline;
            }
        }
    }

    div {
        h2 {
            margin: 0;
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--link);
        }

        .stats {
            display: flex;
            align-items: center;
            margin-top: 10px;

            p {
                margin: 0 1rem 0 0;
                display: flex;
                align-items: center;

                span {
                    margin-right: 1rem;
                    font-weight: 300;
                }
            }
        }

        @media (max-width: 768px) {
            h2 {
                font-size: 1.1rem !important;
            }

            .stats {
                flex-direction: column;
                align-items: flex-start;
                font-size: 0.9rem;
            }
        }
    }
}
