.Settings {
    max-width: 1000px;
    margin: 0 auto;

    .login {
        max-width: 500px;
        margin: 0 auto;

        .accountIcon {
            span {
                font-weight: 400;
                color: var(--subtitle);
                font-size: 6rem;
            }
        }

        @media (max-width: 768px) {
            & {
                margin: 2rem auto 0 auto;

                .accountIcon {
                    span {
                        font-size: 4rem;
                    }
                }
                h1 {
                    font-size: 1.5rem !important;
                }
            }
        }

        input {
            width: 100%;
            padding: 10px 1rem;
            border: 1px solid var(--shade-2);
            background: var(--component);
            border-radius: 4px;
            margin: 0.5rem 0;
            font-size: 1rem;
            color: white;
            font-family: inherit;
        }

        button {
            margin: 10px 0;
            padding: 10px 1rem;
        }

        .loading {
            background: #99601010;
        }

        .tip {
            font-size: 0.9rem;
            color: var(--subtitle);
            cursor: pointer;

            span {
                text-decoration: underline;
            }
        }
    }

    .dashboard {
        text-align: left;

        .banner {
            margin: 0 0 2rem 0;
            display: flex;
            align-items: center;

            h2 {
                font-size: 1.5rem;
                font-weight: 500;
                color: var(--subtitle);
                margin: 0;
            }

            span {
                margin-right: 2rem;
                font-weight: 400;
                color: var(--subtitle);
                font-size: 4rem;
            }

            @media (max-width: 768px) {
                & {
                    flex-direction: column;
                    text-align: center;

                    h2 {
                        font-size: 1.3rem;
                        margin: 0 auto;
                        text-overflow: ellipsis;
                        max-width: 200px;
                        overflow: hidden;
                    }

                    span {
                        margin: 1rem 0;
                        font-size: 3rem;
                    }
                }
            }
        }
    }

    kbd {
        background: var(--shade-1);
        border-radius: 4px;
        padding: 1px 8px;
        width: fit-content;
        margin: 0 0.2rem;
        font-size: 0.95rem;
        font-weight: 500;
        color: white;
    }
}
