.RichText {
    height: fit-content;
    width: 100%;
    background-color: var(--component);
    border: 1px solid var(--border);
    border-radius: 4px;

    .toolbar {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--border);

        button {
            border: none;
            border-right: 2px solid var(--border);
            background-color: transparent;
            padding: 12px 0;
            margin: 0;
            border-radius: 0;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            max-width: 10rem;

            span {
                margin: 0;
            }

            &:hover {
                background-color: var(--shade-1);
            }
        }

        select {
            height: 2.5rem;
            font-size: 1rem;
            padding: 0 3rem 0 1rem;
            width: 8rem;
            border: 0;
            outline: 0;
            color: var(--subtitle);
            background: transparent;
            font-size: 0.9rem;
            font-family: inherit;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"%3E%3Cpath fill="white" d="M1 2l3 3 3-3H1z"/%3E%3C/svg%3E');
            background-repeat: no-repeat;
            background-position: right 1rem center;
            background-size: 1rem 1rem;
        }
    }

    .textbox {
        margin-top: 1rem;
        width: 100%;
        height: fit-content;
        height: 230px;
        overflow-y: scroll;
        padding: 0 8px 1rem 8px;
        outline: 0;

        a {
            color: var(--link);
        }
    }
}
