.Footer {
    background-color: var(--component);
    color: #fff;
    padding: 2rem 4rem;

    .links {
        display: flex;
        gap: 2rem;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 1rem;
        }

        span {
            font-size: 1rem;
            font-weight: 500;
            color: var(--link);
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .badges {
        display: flex;
        justify-content: left;
        gap: 1rem;
        align-items: center;
    }

    @media (max-width: 768px) {
        & {
            padding: 2rem 2rem 1rem 2rem;

            .badges {
                display: block;

                div {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
